@font-face{
    font-family: myFont;
    src: url(./get_schwifty.ttf);
}

.foto{
    border: 2px solid rgb(24,13,31);
    width: 260px;
    height: 260px;
}



.aboutFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 20px;
}

@media (max-width: 900px){
    .aboutFlex{
        flex-direction: column;
    }
    
    .myInfo{
        width: 100%;
    }    
}

.aboutCard{
    background: linear-gradient(90deg, rgba(36,50,95,1) 29%, rgba(86,132,153,1) 67%, rgba(25,36,69,1) 86%);
    padding-right: 0px;
    padding-top: 15px;
    width: 330px;
    height: 572px;
    border: 5px solid rgb(24,13,31);
    font-family: myFont;
    box-shadow: 20px 20px 25px #2B2B2B;

}

.aboutHeader{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.aboutName{
    font-size: 24px;
    padding-bottom: -5px;
    color: #41b4c9;
    -webkit-text-stroke: 0.01px #bfde42;
    margin: 1;
    position: absolute;
    top: 10%;
    transform: translateY(-30%);
    text-align: center;
}


.aboutItems{
    height: 200px;
    font-size: 12px;
    background: linear-gradient(90deg, rgba(73,96,172,1) 29%, rgba(122,167,187,1) 68%, rgba(43,61,116,1) 89%);
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgb(24,13,31);
    color: #41b4c9;
    -webkit-text-stroke: 0.1px #bfde42;
}

.aboutId{
    position: relative;
    font-size: 9px;
    float: right;
    margin-right: 3px;
    bottom: 1%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bfde42;
}

.myInfo{
    margin: 30px;
    width: 380px;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.icons{
    font-size: 45px;
}